<div class="comments">
    <p class="subtitle">Komentarze (3)</p>
    <ul>
        <li>
            <div class="meta">
                <div class="silhouette">
                    <img src="{{ static_url('img/silhouette.png') }}" alt="Avatar">
                </div>
                <div class="username-and-date">
                    <span class="username">Daniel</span> <span class="date">dnia 02/03/2015 22:54</span>
                </div>
            </div>
            <div class="comment-text">
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
            </div>
        </li>
        <li>
            <div class="meta">
                <div class="silhouette">
                    <img src="{{ static_url('img/silhouette.png') }}" alt="Avatar">
                </div>
                <div class="username-and-date">
                    <span class="username">Łukasz</span> <span class="date">dnia 02/03/2015 22:56</span>
                </div>
            </div>
            <div class="comment-text">
                Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
            </div>
        </li>
        <li>
            <div class="meta">
                <div class="silhouette">
                    <img src="{{ static_url('img/silhouette.png') }}" alt="Avatar">
                </div>
                <div class="username-and-date">
                    <span class="username">Ania</span> <span class="date">dnia 02/03/2015 23:56</span>
                </div>
            </div>
            <div class="comment-text">
                Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
            </div>
        </li>
    </ul>
</div>