.messages-container {
  margin: 20px auto 0 auto;

  div {
    text-align: center;
  }

  .type {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    margin-bottom: 20px;

    &.error {
      background-color: rgba(255, 0, 0, 0.05);
      border: 1px solid rgba(255, 100, 93, 0.87);

      i {
        color: rgba(255, 118, 112, 0.99);
      }
    }

    &.info {
      background-color: rgba(0, 158, 255, 0.06);
      border: 1px solid rgb(0, 158, 255);

      i {
        color: rgb(0, 158, 255);
      }
    }

    &.warning {
      background-color: rgba(255, 255, 0, 0.03);
      border: 1px solid rgba(255, 174, 0, 1);

      i {
        color: rgba(255, 174, 0, 1);
      }
    }

    &.success {
      background-color: rgba(0, 128, 0, 0.03);
      border: 1px solid rgba(0, 128, 0, 0.69);

      i {
        color: rgba(0, 128, 0, 0.69);
      }
    }

    i {
      position: absolute;
      top: -10px;
      left: -10px;
      font-size: 24px;
      background: #fff;
      border-radius: 50%;
    }

    .messages {
      font-size: 14px;
      padding-left: 5px;
      line-height: 21px;

      &.multiple {
        margin-left: 15px;

        li {
          &:before {
            content: '\25A0';
            display: block;
            position: relative;
            max-width: 0;
            max-height: 0;
            left: -15px;
            top: -1px;
            color: #A0A0A0;
            font-size: 11px;
          }
        }
      }
    }
  }
}