<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Administracja</title>
        <script type="text/javascript" src="{{ static_url('vendor/js/jquery-2.1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/general.js') }}"></script>
        <link rel="stylesheet" href="{{ static_url('vendor/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/compiled/style.css') }}">
        {% block header_extends %}{% end %}
    </head>
    <body>
        <header>
            <a href="{{ reverse_url('index') }}" class="logo">Tornedu</a>
            <ul class="header-navigation">
                <li><a href="{{ reverse_url('admin_index') }}">Administracja</a></li>
                <li><a href="#">Foo</a></li>
                <li><a href="#">Bar</a></li>
            </ul>
            {% include '../modules/user.html' %}
        </header>

        <div class="content">
            {% block messages %}
                {% include '../modules/messages.html' %}
            {% end %}

            {% block content %}{% end %}
        </div>
    </body>
</html>