<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Tornedu</title>
        <script type="text/javascript" src="{{ static_url('vendor/js/jquery-2.1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/general.js') }}"></script>
        <link rel="stylesheet" href="{{ static_url('vendor/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/compiled/style.css') }}">
        {% block header_extends %}{% end %}
    </head>
    <body>
        <header>
            <a href="{{ reverse_url('index') }}" class="logo">Tornedu</a>
            <ul class="header-navigation">
                <li><a href="{{ reverse_url('index') }}">Strona główna</a></li>
                <li><a href="#">Kategorie</a></li>
                <li><a href="#">O co chodzi?</a></li>
                <li><a href="#">Dodaj treść</a></li>
            </ul>
            <div class="user">
                <div class="silhouette">
                    <img src="{{ static_url('img/silhouette.png') }}">
                </div>
                <p class="name">Anonimowy</p>
            </div>
            <div class="user-popover">
                <ul class="user-navigation">
                    {% if current_user %}
                        Something
                    {% else %}
                        <li>
                            <a href="{{ reverse_url('user_login') }}">
                                <i class="fa fa-key"></i> Login
                            </a>
                        </li>
                        <li>
                            <a href="{{ reverse_url('user_register') }}">
                                <i class="fa fa-user-plus"></i> Register
                            </a>
                        </li>
                    {% end %}
                </ul>
            </div>
        </header>

        <div class="content">
            {% block messages %}
                {% include 'messages.html' %}
            {% end %}

            {% block content %}{% end %}
        </div>
    </body>
</html>