<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Tornedu</title>

        <script type="text/javascript" src="{{ static_url('vendor/js/jquery-2.1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/general.js') }}"></script>

        <link rel="stylesheet" href="{{ static_url('vendor/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/compiled/style.css') }}">

        {% block header_extra %}
            <!-- Additional scripts/styles -->
        {% end %}
    </head>
    <body>
        {% include 'blocks/header_frontend.html' %}

        <div class="content">
            {% block messages %}
                {% include 'blocks/messages.html' %}
            {% end %}

            {% block content %}
                <!-- Pages' contents -->
            {% end %}
        </div>

        {% include 'blocks/footer.html' %}
    </body>
</html>