body, html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

header {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #009989;
  padding: 0 5vw;
  width: calc(100vw - 10vw); }
  header a.logo {
    float: left;
    display: block;
    height: inherit;
    line-height: inherit;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px #444; }
  header ul.header-navigation {
    position: absolute;
    left: calc(5vh + 200px);
    float: left;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px; }
    header ul.header-navigation li {
      float: left;
      width: auto; }
      header ul.header-navigation li:nth-child(n+1) {
        background-color: #CE1836; }
      header ul.header-navigation li:nth-child(n+2) {
        background-color: #F85931; }
      header ul.header-navigation li:nth-child(n+3) {
        background-color: #EDB92E; }
      header ul.header-navigation li:nth-child(n+4) {
        background-color: #A3A948; }
      header ul.header-navigation li a {
        display: block;
        height: 100%;
        color: #fff;
        padding: 0 25px;
        text-shadow: 1px 1px #999; }
        header ul.header-navigation li a:hover {
          position: relative;
          height: calc(100% - 5px);
          border-bottom: 5px solid #009989; }
  header .user {
    position: absolute;
    float: left;
    top: 0;
    right: 5vw;
    padding: 0 25px;
    cursor: pointer;
    width: 200px; }
    header .user.popover-open {
      background: #A3A948; }
    header .user .silhouette {
      float: left;
      position: relative;
      width: 50px;
      height: 50px; }
      header .user .silhouette img {
        position: absolute;
        top: 15%;
        width: 70%;
        height: 70%;
        border-radius: 50px; }
    header .user p.name {
      float: left;
      color: #fff;
      width: calc(250px - 25px - 25px - 50px);
      height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  header .user-popover {
    display: none;
    position: absolute;
    top: 50px;
    right: 5vw;
    width: 250px;
    background: #CE1836;
    border-bottom: 5px solid #EDB92E; }
    header .user-popover ul.user-navigation {
      text-align: center; }
      header .user-popover ul.user-navigation li {
        display: block;
        color: #fff;
        line-height: 40px; }
        header .user-popover ul.user-navigation li:hover {
          background: #F85931; }
        header .user-popover ul.user-navigation li a {
          display: block;
          color: inherit; }
          header .user-popover ul.user-navigation li a i {
            padding-right: 10px; }

.content {
  margin-top: 10px;
  padding: 0 5vw;
  width: calc(100vw - 5vw - 5vw);
  text-align: center; }
  .content * {
    text-align: left; }
  .content p.title {
    font-size: 22px;
    font-weight: bold;
    color: #CE1836;
    border-bottom: 1px solid #CE1836;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .content p.subtitle {
    color: #A3A948;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #A3A948;
    margin: 15px auto; }

form {
  width: 400px;
  display: inline-block;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px; }
  form .row {
    display: block;
    margin-bottom: 10px; }
    form .row .field[data-type="checkbox"] label {
      display: inline; }
      form .row .field[data-type="checkbox"] label:after {
        content: ""; }
    form .row label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px; }
      form .row label:after {
        content: ":"; }
    form .row input[type="text"], form .row input[type="password"] {
      margin: 0;
      padding: 5px 10px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: calc(100% - 20px); }
  form input[type="submit"] {
    float: right;
    margin: 10px 0;
    background-color: #A3A948;
    border: 1px solid #84893C;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: 1px 1px #555;
    text-transform: uppercase;
    cursor: pointer; }
    form input[type="submit"]:hover {
      background-color: #CE1836;
      border: 1px solid #af152e; }

.messages-container {
  margin: 20px auto 0 auto; }
  .messages-container div {
    text-align: center; }
  .messages-container .type {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    margin-bottom: 20px; }
    .messages-container .type.error {
      background-color: rgba(255, 0, 0, 0.05);
      border: 1px solid rgba(255, 100, 93, 0.87); }
      .messages-container .type.error i {
        color: rgba(255, 118, 112, 0.99); }
    .messages-container .type.info {
      background-color: rgba(0, 158, 255, 0.06);
      border: 1px solid #009eff; }
      .messages-container .type.info i {
        color: #009eff; }
    .messages-container .type.warning {
      background-color: rgba(255, 255, 0, 0.03);
      border: 1px solid #ffae00; }
      .messages-container .type.warning i {
        color: #ffae00; }
    .messages-container .type.success {
      background-color: rgba(0, 128, 0, 0.03);
      border: 1px solid rgba(0, 128, 0, 0.69); }
      .messages-container .type.success i {
        color: rgba(0, 128, 0, 0.69); }
    .messages-container .type i {
      position: absolute;
      top: -10px;
      left: -10px;
      font-size: 24px;
      background: #fff;
      border-radius: 50%; }
    .messages-container .type .messages {
      font-size: 14px;
      padding-left: 5px;
      line-height: 21px; }
      .messages-container .type .messages.multiple {
        margin-left: 15px; }
        .messages-container .type .messages.multiple li:before {
          content: '\25A0';
          display: block;
          position: relative;
          max-width: 0;
          max-height: 0;
          left: -15px;
          top: -1px;
          color: #A0A0A0;
          font-size: 11px; }

ul.models li {
  display: block;
  line-height: 30px;
  border-bottom: 1px solid #ccc; }
  ul.models li:last-child {
    border-bottom: none; }
  ul.models li a {
    display: block;
    color: #000;
    padding-left: 15px; }
    ul.models li a:hover {
      background-color: #eee;
      color: #CE1836; }
    ul.models li a i {
      padding-right: 10px; }

footer {
  background-color: #009989;
  margin-top: 20px;
  padding: 10px 0;
  color: #fff;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
